.matchups {
    display: flex;
    flex-direction: row;
}

.matchupr {
    display: inline-flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.matchupr + .matchupr {
    border-left: 3px solid black;
}

.matchup {
    margin-top: 2em;
    margin-bottom: 2em;
    margin: auto 2em;
    padding: 1em;
}